<ion-header>
  <ion-toolbar>
    <ion-title>2.Beyond the Glam Lifestyle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>
      When I was growing up, I didn't have much, except a guitar, and I loved to rock!"In middle school is where I met my best friends, and we threw together a pretty cool band.we've melted people's faces in 30 different countries, in 7 different languages, but it hasn't been all work and no play.
  </p>
  <ion-button href='/chapter1'>Previous</ion-button><ion-button  href='/chapter3'>Next</ion-button>
</ion-content>
