<ion-header>
  <ion-toolbar>
    <ion-title>1.Sex, Drugs, and Rock'n'Roll</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>
    A musicians life is full of good times and hard earned money... lots of money. So it's no wonder that while on tour anything goes... and that means...ANYTHING!Lighting things on fire, having a good time with friends, and the babes, oh the babes!
  </p>
    <ion-button href='/toc'>Table of Contents</ion-button><ion-button href='/chapter2'>Next</ion-button>
</ion-content>
